@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
</div>

<form enctype="multipart/form-data" method="post">
    <table>
        <tr>
            <td>
                <label>
                    <img id="form-image" src="~/default.jpg" height="500" />
                    <input asp-for="FormFile" type="file" onchange="previewFile()" hidden />
                </label>
            </td>
            <td>

                <div>
                    <label>
                        Количество цветов
                        <input asp-for="ColorsCount" type="range" min="3" max="10" />
                    </label>
                    <input type="submit" class="btn btn-primary" />
                </div>
            </td>
        </tr>
    </table>
</form>

<div class="colors-container"></div>

<p>Elapsed: <span id="elapsed"></span> ms</p>

@section Scripts {
    <script>
        let colorsContainer = $(".colors-container").first();

        $("form").submit(async function (event) {
            event.preventDefault();
            // TODO: test image size
            colorsContainer.empty();
            let response = await fetch(this.action, {
                method: "ajax",
                body: new FormData(this)
            });
            let result = await response.json();
            for (let color of result.colorsList) {
                colorsContainer.append(`<div class="color" style="background-color: #${color}"><a>#${color}</a></div>`);
            };
            $("#elapsed").text(result.time);
        });

        function previewFile() {
            const preview = document.querySelector('img');
            const file = document.querySelector('input[type=file]').files[0];
            const reader = new FileReader();

            reader.onload = () => {
                preview.src = reader.result;
            }

            if (file) reader.readAsDataURL(file);
        }
    </script>
}