@page
@model IndexModel
@{
    ViewData["Title"] = "Определение основных цветов изображения";
}

<header>
    <span>Определите основные цвета изображения</span>
</header>

<div class="instruction">
    <form enctype="multipart/form-data" method="post">
        <ol>
            <li>
                Фото перетащи на страницу или открой по кнопке
                <input id="open-btn" type="button" value="Открыть фото">
                <input id="file-input" type="file" name="FormFile"/>
            </li>
            <li>
                Выберите количество необходимых цветов
                <select name="ColorsCount">
                    <option value="0">Авто</option>
                    <option>3</option>
                    <option>6</option>
                    <option>9</option>
                </select>
            </li>
            <li>
                Нажмите на кнопку и сформируйте палитру цветов
                <input type="submit" value="Определить цвета">
            </li>
        </ol>
    </form>
</div>

<div class="image">
    <img id="form-image" src="~/default.png"/>
</div>

<div class="palette">
    <div class="palette-content">
        <h1>Палитра</h1>
        Нажмите, чтобы скопировать цвет
        <ol class="colors-list"></ol>
    </div>
</div>